body{
    background-color: violet;
    background-image: url(../../Images/car.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    
}
p{
    font-size: 20px;
}
.center{
    text-align: center;
    margin-right: 330px;
    margin-left: 330px;
}
*{color: white;}
li{
    list-style-type: none;
}
ul{
    font-size: 20px;
    text-transform: capitalize;
}